$table-font-size: 0.75rem;
$table-border-color: #cbd5e1;
$table-background-color: #f8f9fa;
$focus-color: #3871e0;
$footer-bg-color: #f2f3f4;

.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 100rem;
  font-size: $table-font-size;
  line-height: 1.25rem;
  white-space: nowrap;
  table-layout: fixed;
}

.table-header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.col-letter,
.row-number,
.row-data {
  border: 1px solid $table-border-color;
}

.col-letter,
.row-number {
  font-weight: 400;
  text-align: center;
  background-color: $table-background-color;
  user-select: none;
}

.col-letter:first-of-type {
  width: 2.5rem;
}

.row-data {
  width: 100%;
  padding: 2px 4px;

  &:focus {
    outline: 2px solid $focus-color;
    outline-offset: -2px;
  }
}

.footer-tab-group {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 2.5rem;
  background-color: $footer-bg-color;
  overflow: hidden;
  user-select: none;
}

.footer-buttons {
  display: flex;
  align-items: center;

  > :not([hidden]) ~ :not([hidden]) {
    margin-left: 0.25rem;
  }
}

.footer-button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;

  &:focus {
    outline: 2px solid $focus-color;
  }
}

.footer-tabs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin-left: 1rem;
}

.footer-tab {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;

  &:focus {
    outline: 0;
  }

  &.active {
    color: #3c7e40;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0 0 0 / 25%);
  }

  > i {
    margin-left: 0.5rem;
  }
}

.data-center {
  text-align: center;
}
